.wrapper{
    display: flex;
}

.side-bar{
height: 100vh;
width: 300px;
background-color: #253141;
}

.chat{
width: calc(100vw - 300px);
background-color: #fff;
}

.top-side{
    height: 100px;
    padding: 0 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.midle-side{
    height: 100vh;
    background-color: #2F3E51;
    padding: 0 20px;
    overflow: scroll;
}

.top-main{
    height: 100px;
    background-color: #fff;
    padding: 0 40px;
}

.midle-main{
    height: calc(100vh - 90px);
    background-color: #FAFAFA;
    padding: 46px 40px 0;
}

.bottom-main{
    height: 90px;
    background-color: #ddd;
    padding: 20px 40px;
}

.tom a{
    font-size: 16px;
    color: #FAFAFA;
    text-decoration: none;
}

.chat-create a{
    padding: 14px;
    border: solid lightblue;
    font-size: 10px;
    color: deepskyblue;
    text-decoration: none;
}

.room{
    padding: 20px 0 40px 0;
}

.room-name a {
    text-decoration: none;
    color: white;
}